@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{font-family: 'Kdam Thmor Pro', sans-serif;}
body {
    
    font-size: 40px;
    background-color: black;
    color: white;
    box-sizing: border-box;
}
header {
    height: 100px; 
}   
