@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{font-family: 'Kdam Thmor Pro', sans-serif;}
body {
    font-size: 20px;
    background-color: black;
    color: blueviolet;
}

header {
    height: 20px; 
    color: white;
   
} 

ul {
    list-style: none;
    
}

.header {
    display: flex;
    align-items: center;    
}

.instagram-icon {
    width: 20px; 
    height: 20px; 
    margin: 0 auto 10px;
    border-right: 5px solid black;
    
}
.spotify-icon {
    width: 20px;
    height: 20px;
    margin: 0 auto 10px;
    margin-left: 50px;
    border-right: 5px solid black;
}
.youtube-icon {
    width: 20px;
    height: 20px;
    margin: 0 auto 10px;
    margin-left: 65px;
    border-right: 5px solid black;
}
